[submodule "scripts/sentinel_download"]
	path = scripts/sentinel_download
	url = https://github.com/DHI-GRAS/sentinel_download.git
[submodule "scripts/swi_downloader"]
	path = scripts/swi_downloader
	url = https://github.com/DHI-GRAS/swi_downloader.git
