[submodule "scripts/swi_downloader"]
	path = scripts/swi_downloader
	url = https://github.com/DHI-GRAS/swi_downloader.git
[submodule "scripts/sentinel_scripts"]
	path = scripts/sentinel_scripts
	url = https://github.com/DHI-GRAS/QGIS_sentinel_scripts.git
[submodule "scripts/python_fmask"]
	path = scripts/python_fmask
	url = https://github.com/DHI-GRAS/QGIS_python_fmask.git
[submodule "scripts/sentinelsat-qgis-script"]
	path = scripts/sentinelsat-qgis-script
	url = https://github.com/sentinelsat/sentinelsat-qgis-script.git
